.truthsAndALie h1{
     color: lightgreen;
    text-align: center;
}

.truthsAndALie h3{
    color: blue;
}

.truthsAndALie p{
    color: red;
}

.truthsAndALie{
    border-color: black;
    border-style: solid;
    border-width: 5px;
    background-color: grey;
    border-radius: 10px;
}

.truthLie{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    background-color: lightgrey;
    border-radius: 10px;
    text-align: center;
}

.flexAlign{
    display: flex;
    justify-content: space-evenly;
}